body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #201f1f; /* Dark background color */
    color: #ffffff; /* Light text color */
}

header, footer {
    background-color: #1b1b1b; /* Dark color for header and footer */
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    padding: 80px 20px 20px;
}

header {
    display: flex;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    z-index: 1000;
}

.PageHeader {
    text-align: left;
}

.menu-btn {
    display: inline-block;
}

.line {
    background-color: #ffffff;
    width: 24pt;
    height: 3pt;
    margin: 3pt;
}

.page1 {
    display:  flex;
    height:  80%;
}

.myStory {
    height: 80%;
    width: 60%;
    padding: 10%;
}

.myPicture {
    display:  inline-block;
    height: 80%;
    width: 40%;
    padding: 10%;
}

.page2 {
    height: 80%;
}

.page2Content {
    display: flex;
}

.pageTitle {
    text-align: center;
}

.education {
    border: 1pt solid white;
    padding: 5pt;
    margin: 4%;
    width: 40%;
    border-radius: 5%;
    display: inline-block;
}

.page3Contents {
    display: flex;
}

.certifications {
    border: 1pt solid white;
    padding: 5pt;
    margin: 4%;
    width: 40%;
    border-radius: 5%;
    display: inline-block;
}